*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: green;
}

h1{
    text-align: center;
    color: white;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figcaption{
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

img{
    background-color: darkred;
    width: 15vw;
    height: 45vh;
    border-radius: 10px;
}


button{
    display: flex;
    border-radius: 5px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 2px 2px black;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background: red;
    transform: scale(1.2);
    color: white;
}
