*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: green;
}

h1{
    text-align: center;
    color: white;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figcaption{
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

img{
    background-color: darkred;
    border-radius: 10px;
    width: 226px;
    height: 314px;
    box-shadow: red 0px 0px 0px 2px inset, rgb(255, 255, 255) 5px 5px 0px -3px,darkred 5px 5px, 
                rgb(255, 255, 255) 10px 10px 0px -3px,darkred 10px 10px, 
                rgb(255, 255, 255) 15px 15px 0px -3px,darkred 15px 15px,
                rgb(255, 255, 255) 20px 20px 0px -3px,darkred 20px 20px;
}


button{
    display: flex;
    border-radius: 5px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 2px 2px black;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background: red;
    transform: scale(1.2);
    color: white;
}